{% extends "base.html" %}
{% block title %}
	Django app - Detalle de Restaurant
{% endblock title %}
{% block content %}
<div class="container">
	<h1 class="page-header">El paisa</h1>
	<div class="row">
		<div class="col-lg-4">
			<img class="img-responsive" src="http://lorempixel.com/800/600/food/1" alt="">
		</div>
		<div class="col-lg-8">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugit, amet repellat porro corporis quis labore modi a tempore maxime atque temporibus ullam pariatur et veritatis, sunt molestias, asperiores quaerat!</p>
			<p>Tipos de pago: Mastercard, Visa, Diners</p>
			<p>Tipo de comida: Criolla, Mariscos</p>			
		</div>		
	</div>
	<hr>
	<h4>Tips</h4>
	<form role="form">
	  <div class="form-group">
	    <label>Dejar Tip</label>
	    <input type="text" class="form-control" id="tip" placeholder="Deja tu tip">
	  </div>  
	  <button type="submit" class="btn btn-default">Enviar Tip</button>
	</form>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" class="img-64" src="https://pbs.twimg.com/profile_images/512708084393709568/QgKhWhbN_bigger.jpeg" alt="Vickoman"/>
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Vickoman</h4>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo alias provident rerum perspiciatis assumenda ratione, blanditiis, eius, tempore aliquid nam accusamus eaque accusantium officiis quam vero saepe similique harum!
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" class="img-64" src="https://pbs.twimg.com/profile_images/512708084393709568/QgKhWhbN_bigger.jpeg" alt="Vickoman"/>
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Vickoman</h4>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo alias provident rerum perspiciatis assumenda ratione, blanditiis, eius, tempore aliquid nam accusamus eaque accusantium officiis quam vero saepe similique harum!
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" class="img-64" src="https://pbs.twimg.com/profile_images/512708084393709568/QgKhWhbN_bigger.jpeg" alt="Vickoman"/>
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Vickoman</h4>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo alias provident rerum perspiciatis assumenda ratione, blanditiis, eius, tempore aliquid nam accusamus eaque accusantium officiis quam vero saepe similique harum!
	  </div>
	</div>
	<br>
</div>
{% endblock content %}Detalle